AI Growth Engine  End-to-End Digital Marketing & Lead Management System.json
{
  "name": "Social media automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1w0pb_EzPH1PVKXHpQoXnJdLO5eaNFvzsZnd5k90xuNw",
          "mode": "list",
          "cachedResultName": "Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w0pb_EzPH1PVKXHpQoXnJdLO5eaNFvzsZnd5k90xuNw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w0pb_EzPH1PVKXHpQoXnJdLO5eaNFvzsZnd5k90xuNw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "c68ce613-13cc-4291-9280-e8a20b734a04",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "EhYx4ef4hgp4DVvV",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54dabea5-a0e6-4472-85fa-d98e3448193d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        608
      ],
      "id": "8ba903d3-5ea6-4e2a-abb5-eef9c836bc85",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        512
      ],
      "id": "0003b73f-2be8-4b23-93b4-2871a2d083c2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pSelzkkl8tvae9GC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "person": "Nik3B5wH00",
        "text": "={{ $json.text }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1072,
        336
      ],
      "id": "932b169f-2123-41b9-9150-1b649ce0d7a1",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "CY5nJbsszU7ez7r5",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert LinkedIn content creator. Your job is to turn any user-provided topic into a high-engagement LinkedIn post.  Rules:  Start with a strong 1–2 line hook.  Write in a simple, human, conversational tone.  Use short lines, short paragraphs, and plenty of spacing.  Provide clear insights, lessons, or value.  Use bullets when helpful.  No hashtags unless requested.  No mention of AI or ChatGPT.  End with one engaging question or call-to-action.  Keep the post between 100–180 words unless user requests otherwise.  Your output should always feel:  professional  relatable  easy to read  optimized for LinkedIn’s algorithm  When ready, return only the final LinkedIn post, no explanations"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        336
      ],
      "id": "c784a928-e37f-4edf-b174-2386d0dd90ca",
      "name": "Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        336
      ],
      "id": "39206b36-6211-441c-bb60-cbb25b5947ae",
      "name": "Image Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert Facebook content creator.\nYour job is to turn any user-provided topic into a highly engaging Facebook post.\n\nRules:\n\nStart with an attention-grabbing first line.\n\nWrite in a friendly, conversational, human tone.\n\nKeep paragraphs short and readable.\n\nAdd emotion, relatability, or a small story when possible.\n\nProvide simple value, advice, or a clear message.\n\nUse emojis naturally (optional – not required).\n\nNo hashtags unless the user asks.\n\nEnd with a question to spark comments.\n\nIdeal length: 60–140 words unless user requests otherwise.\n\nOutput only the final Facebook post, no explanation."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        512
      ],
      "id": "f3e85756-4245-4e53-ac47-4127ab791a1c",
      "name": "Chat Model1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        512
      ],
      "id": "33c4d296-5e3c-4eed-9481-11cf28c40b95",
      "name": "Image Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert X/Twitter content creator.\nYour job is to turn any user-provided topic {{ $json.Topic }} into a sharp, engaging tweet.\n\nRules:\n\nStart with a bold, surprising, or curiosity-driven first line.\n\nWrite in a crisp, punchy, conversational tone.\n\nKeep it short and impactful.\n\nUse strong opinions, insights, or value in simple language.\n\nEmojis optional, use only if they support the message.\n\nAvoid fluff, long explanations, or corporate tone.\n\nNo hashtags unless the user requests.\n\nEnd with a thought-provoking question or a smart one-liner.\n\nIdeal length: 20–60 words unless user requests otherwise.\n\nOutput only the final tweet, no explanation."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        896
      ],
      "id": "79be1724-2c23-4f4b-ba01-dbae190a3f95",
      "name": "Chat Model2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        896
      ],
      "id": "95f2dc0c-532b-4c04-a632-00b98cc374f3",
      "name": "Image Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert Facebook content creator.\nYour job is to turn any user-provided topic into a highly engaging Facebook post.\n\nRules:\n\nStart with an attention-grabbing first line.\n\nWrite in a friendly, conversational, human tone.\n\nKeep paragraphs short and readable.\n\nAdd emotion, relatability, or a small story when possible.\n\nProvide simple value, advice, or a clear message.\n\nUse emojis naturally (optional – not required).\n\nNo hashtags unless the user asks.\n\nEnd with a question to spark comments.\n\nIdeal length: 60–140 words unless user requests otherwise.\n\nOutput only the final Facebook post, no explanation."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        704
      ],
      "id": "299dba08-5904-4088-a602-388259d69bb5",
      "name": "Chat Model3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        704
      ],
      "id": "c1d3de92-3b41-4218-ad7f-a7866c38f9c0",
      "name": "Image Model3"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1072,
        896
      ],
      "id": "2fbd04df-2acf-4920-a65b-e119efe11438",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "jYrXzGGiFKbJJrsu",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "887220867811421",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.text }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1072,
        512
      ],
      "id": "c5f6c4cb-c09a-4ee7-af7c-84333e2061c8",
      "name": "Facebook Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "MqOeRGITQz8q4zIo",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  image_url: $json.secure_url\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        704
      ],
      "id": "e5fedb78-902d-4b93-a8ac-0fd1e9b3eb9a",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {
          "upload_preset": "N8N_preset"
        }
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1072,
        704
      ],
      "id": "c88c305d-2b20-4288-9629-d83a13628b56",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "oYdktRlmwPY5tytl",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841463403766714",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Image Model3').item.json.text }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1408,
        704
      ],
      "id": "23e42cca-c693-4ea5-9e74-55dbb103899f",
      "name": "Instagram Post Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "MqOeRGITQz8q4zIo",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841463403766714",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1584,
        704
      ],
      "id": "75197b69-e73d-430d-8c03-abd5ebac3d78",
      "name": "Instagram Post Publish",
      "credentials": {
        "facebookGraphApi": {
          "id": "MqOeRGITQz8q4zIo",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.lead_message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        1328
      ],
      "id": "c02389e5-8b4d-4eee-aa83-953be293840f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields1').item.json.lead_email }}",
        "subject": "={{ $('Edit Fields1').item.json.lead_name }}Thanks for reaching out –",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        1136
      ],
      "id": "8ca7aec6-ebb7-45b3-8be5-33cb72a172b1",
      "name": "Send a message",
      "webhookId": "a8095d66-161f-409e-8dc3-fb94a4db68d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "EZ5dsPeIyJVptM1W",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0",
          "mode": "list",
          "cachedResultName": "lead Qualificataion Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit Fields1').item.json.lead_name }}",
            "Email": "={{ $('Edit Fields1').item.json.lead_email }}",
            "Message": "={{ $('Edit Fields1').item.json.lead_message }}",
            "Received At": "={{ $('Edit Fields1').item.json.received_at }}",
            "Reply": "={{ $('AI Agent1').item.json.output }}",
            "Source": "={{ $('Webhook').item.json.headers['user-agent'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1120,
        1136
      ],
      "id": "ba99b2e0-a633-44c2-91c7-14f3d03ea6a0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2y5qr9AaPVfOf8TX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional assistant.\nWrite a short, friendly, and professional reply to this lead.\n\nLead name: {{ $json.lead_name }}\nLead message:{{ $json.lead_message }}\n\nThe reply should:\n- Thank the lead\n- Acknowledge their message\n- Invite them to reply or book a short call\n- Be 2–4 sentences only",
        "options": {
          "systemMessage": "=Write a short, friendly, and professional reply to this lead.\n\nLead name: {{ $json.lead_name }}\nLead message: {{ $json.lead_message }}\n\nYou are a professional digital marketing assistant.\nYou reply politely, clearly, and professionally.\nYou do not use emojis.\nYou do not sound salesy.\nYou invite the lead to continue the conversation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        512,
        1136
      ],
      "id": "026e2aa3-96e5-49f4-b33f-e87318f01d79",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        1328
      ],
      "id": "4a4bb7cd-c0b9-47d6-a743-7344de996828",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "pSelzkkl8tvae9GC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587365f9-d88c-494d-a2d5-3ea446ead038",
              "name": "lead_name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "65869b89-cb9a-4876-b8d2-835017a162e6",
              "name": "lead_email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "a5160dd1-575a-41e5-9c66-895e38610246",
              "name": "lead_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "572a2124-c240-4365-88a3-6ea7f1c09cb6",
              "name": "received_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1136
      ],
      "id": "dc4d447c-2838-492f-814e-74a29c0a9e19",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        1136
      ],
      "id": "76ea3e06-9896-46d0-8963-fab71fa0e38c",
      "name": "Webhook",
      "webhookId": "7e0f1664-fcba-4259-80a4-cb14a2a878bd"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0",
          "mode": "list",
          "cachedResultName": "lead Qualificataion Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1504
      ],
      "id": "56746599-936d-44f6-ab5d-8fa5c8e5ccf8",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "EhYx4ef4hgp4DVvV",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        1504
      ],
      "id": "ee5580fc-75ec-4433-8651-6f0fc2c08056",
      "name": "Wait",
      "webhookId": "ab6c3d0f-c0a2-424a-8790-2b81231bce36"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant\nWrite a polite follow-up message for a business lead.\nKeep it short and friendly.\nDo not sound pushy.\n\nLead name: {{ $json.Name }}\nOriginal message: {{ $json.Message }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        736,
        1488
      ],
      "id": "15685113-63f2-4393-b64d-4b80ee944fd9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('If1').item.json.Email }}",
        "subject": "=Just checking in",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        1488
      ],
      "id": "2036a3f6-c70a-4e78-b441-69612676b57c",
      "name": "Send a message1",
      "webhookId": "0ef39357-faad-48cb-82b9-b931ed57e02e",
      "credentials": {
        "gmailOAuth2": {
          "id": "EZ5dsPeIyJVptM1W",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbd730ec-1bb5-44a1-9f22-7c82c57300eb",
              "leftValue": "={{ $('Google Sheets Trigger1').item.json.Reply }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        1504
      ],
      "id": "2ebd7b02-edd7-4d85-8f4c-47ea795d07d4",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        1824
      ],
      "id": "617f7895-b3ea-4c89-b96e-5524f122c9df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0",
          "mode": "list",
          "cachedResultName": "lead Qualificataion Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxSvxfNAoBRXWpIXSy6SYnOjfvyWQ2QjyWmkzOheCM0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        304,
        1824
      ],
      "id": "1b7c602a-b381-4cce-878a-e8ed95ae5a0c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2y5qr9AaPVfOf8TX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        2032
      ],
      "id": "3c710e2e-46e8-45f8-811b-65a514317f68",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pSelzkkl8tvae9GC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant.\nWrite a short weekly business report using this data.\nKeep it simple and non-technical.\n\nLeads received: {{ $json.total_leads }}\nLeads replied: {{ $json.replied_leads }}\nPending leads: {{ $json.pending_leads }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        736,
        1824
      ],
      "id": "e8df23e5-056a-4a3c-9036-f16f21278022",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "jsCode": "const leads = items;\n\nlet total = leads.length;\nlet replied = 0;\nlet pending = 0;\n\nfor (const lead of leads) {\n  if (lead.json.Replied === \"Yes\") {\n    replied++;\n  } else {\n    pending++;\n  }\n}\n\nreturn [\n  {\n    json: {\n      total_leads: total,\n      replied_leads: replied,\n      pending_leads: pending\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1824
      ],
      "id": "d7cd9486-8f5d-46d8-9259-10a36383136b",
      "name": "Code1"
    },
    {
      "parameters": {
        "sendTo": "admin@dijo.pk",
        "subject": "Weekly Automation Report",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        1824
      ],
      "id": "44c4e453-d861-4f47-87a7-5a3ee6d2f5c1",
      "name": "Send a message2",
      "webhookId": "bc4bc777-9473-415c-90a9-9c535b62842c",
      "credentials": {
        "gmailOAuth2": {
          "id": "EZ5dsPeIyJVptM1W",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        1696
      ],
      "id": "0f806332-c352-41b1-a1f5-763ced88aa2b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "pSelzkkl8tvae9GC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat Model",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chat Model1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chat Model2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chat Model3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Model2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "main": [
        [
          {
            "node": "Image Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Model": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model1": {
      "main": [
        [
          {
            "node": "Image Model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model2": {
      "main": [
        [
          {
            "node": "Image Model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Model1": {
      "main": [
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model3": {
      "main": [
        [
          {
            "node": "Image Model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Model3": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Model2": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Instagram Post Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post Container": {
      "main": [
        [
          {
            "node": "Instagram Post Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f15b647c-0f70-4321-837e-5aecbcf87508",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7062b9d5df33ae64c5a89253cd5804b094c8332a9629d90f2a1061c83f68ca38"
  },
  "id": "acv0ua0QNbae5AFU",
  "tags": []
}